{% macro key_to_snake(key) -%}
{{ key.split('_') | first }}{{ key.split('_')[1:] | map('capitalize') | join }}
{%- endmacro -%}

{% macro process_dict(dict) %}

{% for key, value in dict.iteritems() %}
{{ key_to_snake(key) }}: {% if value is mapping %}{{ process_dict(value) | indent(2) }}{% else %}{{ value }} 
{% endif %}
{% endfor %}
{% endmacro -%}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: local-volume-provisioner
  namespace: {{ local_volume_provisioner_namespace }}
data:
  storageClassMap: |
{% for class_name in local_volume_provisioner_storage_classes %}
    {{ class_name }}: {{ process_dict(local_volume_provisioner_storage_class_maps[class_name]) | indent(width=6) }}
{%- endfor %}

